{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book a Beam</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'inventory/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'inventory/css/style.css' %}">
</head>

<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form">
                    <h2>Welcome </h2>
                    <p class="desc"> <span>“Let's Book a Beam”</span></p>

                    <!-- Dropdown -->
                    <div class="form-group">
                        <form name="form1" id="form1" action="/action_page.php">
                             Type : <select name="subject" id="subject">
                              <option value="" selected="selected">Acadmic</option>
                            </select>
                            <br><br> Subject : <select name="topic" id="topic">
                                {% for books in bks%}
                                <option value="{{ bsk }}" selected="selected">{{ bsk.Subject }}</option>
                                {% endfor %}
                            </select>
                            <br><br> Name of the book : <select name="chapter" id="chapter">
                                {% for books in bks%}
                                <option value="{{ bsk }}" selected="selected">{{ bsk.Name_of_book  }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                        </form>


                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit submit" value="Submit" />
                            <input type="submit" name="submit" id="submit" class="form-submit submit" value="Log out" />
                        </div>
                </form>
                </div>
            </div>

        </div>
        <div class="container page">
            <!-- Content here -->
            <h2>Book you are going to borrow </h2>
        
            
        </div>

        <!-- JS -->
        <script src="{% static 'inventory/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'inventory/js/main.js' %}"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>